<form>
    <div id="esquerda-form">
        <img id="imgLogin" src="../../assets/img-login.svg">
    </div>
    <div id="direita-form">
        <div class="imgHome">
            <img src="./../../assets/logo.png" alt="logo-fnst">
            <h1>Login</h1>
        </div>
        <div class="campo">
            <img src="../../assets/nome.svg" alt="">
            <input id="nome" type="text" placeholder="Nome *" required>
        </div>
        <div class="campo">
            <img src="../../assets/senha.svg" alt="">
            <input id="senha" type="password" placeholder="Senha *" required>
        </div>
        <div>
            <a href="#">Esqueceu a senha?</a>
        </div>
        <button class="btn btn-primary" type="submit">Acessar</button>
    </div>
</form>