
<body>
  <header>
    <div class="container">
      <div class="imgHome">
          <img src="./../../assets/logo.png" alt="logo-fnst">
          <h1>Tabela Administradores</h1>
      </div>
      <nav>
        <ul>
          <li><a routerLink="/"><img src="assets/home.svg">Home</a></li>
          <li><a routerLink="/tabela-adm"><img src="assets/usuario.svg">Usuários</a></li>
          <li><a routerLink="/"><img src="assets/historico.svg">Histórico alteração</a></li>
          <li><a routerLink="/"><img src="assets/calendario.svg">Calendário</a></li>
          <li><a routerLink="/"><img src="assets/sair.svg">Sair</a></li>
        </ul>
      </nav>
    </div>
  </header>
    <section class="align-btn-back-and-new-user">
      <div class="align-back-to-home">
        <img src="assets/voltar.svg">
        <a class="back-to-home" routerLink="/">Voltar</a>
      </div>
      <div class="align-new-user">
        
        <a class="btn btn-primary"><img src="assets/user.svg">Novo</a>
      </div>
    </section>

    <section class="align-table">
      <table>
        <thead>
          <tr>
            <th class="align-text padding-th">Nome</th>
            <th class="align-text">Função</th>
            <th class="align-text">Instituição</th>
            <th class="align-text"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="field-name">Nivea Martins da Costa</td>
            <td class="field-funcao">Administrador</td>
            <td class="field-instituicao">FSNT</td>
            <td class="align-icons">
              <img src="assets/edit-tupla-table.svg">
              <img src="assets/remove-tupla-table.svg">
            </td>
          </tr>
          <tr class="tuplas-table-background">
            <td class="field-name">Nivea Martins da Costa</td>
            <td class="field-funcao">Administrador</td>
            <td class="field-instituicao">FSNT</td>
            <td class="align-icons">
              <img src="assets/edit-tupla-table.svg">
              <img src="assets/remove-tupla-table.svg">
            </td>
          </tr>
          <tr>
            <td class="field-name">Nivea Martins da Costa</td>
            <td class="field-funcao">Administrador</td>
            <td class="field-instituicao">FSNT</td>
            <td class="align-icons">
              <img src="assets/edit-tupla-table.svg">
              <img src="assets/remove-tupla-table.svg">
            </td>
          </tr>
          <tr class="tuplas-table-background">
            <td class="field-name">Nivea Martins da Costa</td>
            <td class="field-funcao">Administrador</td>
            <td class="field-instituicao">FSNT</td>
            <td class="align-icons">
              <img src="assets/edit-tupla-table.svg">
              <img src="assets/remove-tupla-table.svg">
            </td>
          </tr>
          <tr>
            <td class="field-name">Nivea Martins da Costa</td>
            <td class="field-funcao">Administrador</td>
            <td class="field-instituicao">FSNT</td>
            <td class="align-icons">
              <img src="assets/edit-tupla-table.svg">
              <img src="assets/remove-tupla-table.svg">
            </td>
          </tr>
          <tr class="tuplas-table-background">
            <td class="field-name">Nivea Martins da Costa</td>
            <td class="field-funcao">Administrador</td>
            <td class="field-instituicao">FSNT</td>
            <td class="align-icons">
              <img src="assets/edit-tupla-table.svg">
              <img src="assets/remove-tupla-table.svg">
            </td>
          </tr>
          <tr>
            <td class="field-name">Nivea Martins da Costa</td>
            <td class="field-funcao">Administrador</td>
            <td class="field-instituicao">FSNT</td>
            <td class="align-icons">
              <img src="assets/edit-tupla-table.svg">
              <img src="assets/remove-tupla-table.svg">
            </td>
          </tr>
          <tr class="tuplas-table-background">
            <td class="field-name">Nivea Martins da Costa</td>
            <td class="field-funcao">Administrador</td>
            <td class="field-instituicao">FSNT</td>
            <td class="align-icons">
              <img src="assets/edit-tupla-table.svg">
              <img src="assets/remove-tupla-table.svg">
            </td>
          </tr>
        </tbody>
      </table>
    </section>
</body>


