
<body>
  <header>
    <div class="imgHome">
        <img src="./../../assets/logo.png" alt="logo-fnst">
        <h1>Tabela Administradores</h1>
    </div>
</header>
    <section class="align-btn-back-and-new-user">
      <div class="align-back-to-home">
        <img src="assets/voltar.svg">
        <a class="back-to-home" routerLink="/">Voltar</a>
      </div>
      <div class="align-new-user">
        <img src="assets/user.svg">
        <a class="new-user">Novo</a>
      </div>
    </section>

    <section class="align-table">
      <table>
        <thead>
          <tr>
            <th class="align-text padding-th">Nome</th>
            <th class="align-text">Função</th>
            <th class="align-text">Instituição</th>
            <th class="align-text"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="field-name">Nivea Martins da Costa</td>
            <td>Administrador</td>
            <td>FSNT</td>
            <td class="align-icons">
              <img src="assets/edit-tupla-table.svg">
              <img src="assets/remove-tupla-table.svg">
            </td>
          </tr>
          <tr class="tuplas-table-background">
            <td class="field-name">Nivea Martins da Costa</td>
            <td>Administrador</td>
            <td>FSNT</td>
            <td class="align-icons">
              <img src="assets/edit-tupla-table.svg">
              <img src="assets/remove-tupla-table.svg">
            </td>
          </tr>
          <tr>
            <td class="field-name">Nivea Martins da Costa</td>
            <td>Administrador</td>
            <td>FSNT</td>
            <td class="align-icons">
              <img src="assets/edit-tupla-table.svg">
              <img src="assets/remove-tupla-table.svg">
            </td>
          </tr>
          <tr class="tuplas-table-background">
            <td class="field-name">Nivea Martins da Costa</td>
            <td>Administrador</td>
            <td>FSNT</td>
            <td class="align-icons">
              <img src="assets/edit-tupla-table.svg">
              <img src="assets/remove-tupla-table.svg">
            </td>
          </tr>
          <tr>
            <td class="field-name">Nivea Martins da Costa</td>
            <td>Administrador</td>
            <td>FSNT</td>
            <td class="align-icons">
              <img src="assets/edit-tupla-table.svg">
              <img src="assets/remove-tupla-table.svg">
            </td>
          </tr>
          <tr class="tuplas-table-background">
            <td class="field-name">Nivea Martins da Costa</td>
            <td>Administrador</td>
            <td>FSNT</td>
            <td class="align-icons">
              <img src="assets/edit-tupla-table.svg">
              <img src="assets/remove-tupla-table.svg">
            </td>
          </tr>
          <tr>
            <td class="field-name">Nivea Martins da Costa</td>
            <td>Administrador</td>
            <td>FSNT</td>
            <td class="align-icons">
              <img src="assets/edit-tupla-table.svg">
              <img src="assets/remove-tupla-table.svg">
            </td>
          </tr>
          <tr class="tuplas-table-background">
            <td class="field-name">Nivea Martins da Costa</td>
            <td>Administrador</td>
            <td>FSNT</td>
            <td class="align-icons">
              <img src="assets/edit-tupla-table.svg">
              <img src="assets/remove-tupla-table.svg">
            </td>
          </tr>
        </tbody>
      </table>
    </section>
</body>


