
@media (min-width: 768px) and (max-width: 1366px) {
  .align-btn-back-and-new-user {
    gap: 760px !important;
  }
}

body {
  width: 100vw;
  height: 100vh;
}

.align-btn-back-and-new-user {
  display: flex;
  justify-content: space-around;
  gap: 1160px;
  width: 100%;
  .align-back-to-home {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 25px;
    .back-to-home, img {
      cursor: pointer;
      color: black;
    }
  }
  .align-new-user {
    margin-top: 25px;
    display: flex;
    align-items: center;
    gap: 12px;
  }
}


.align-table {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  table {
    width: 85%;
    thead {
      height: 35px;
      background-color: var(--color-primary);
      tr {
        th{
          text-align: left;
          padding-top: 15px;
          color: var(--color-white);
          font-weight: 600;
          font-size: 14px;
        }
      }
    }
    tbody {
      
      tr {
        
        td {
          height: 20px;
          line-height: 45px; 
        }
        td:nth-child(4){
          width: 60px;
          img {
            
          }
        }
      }
      
      .tuplas-table-background {
        background-color: var(--table-background-tuplas);
      }
}
    .align-icons {
      display: flex;
      justify-content: flex-end;
      gap: 15px;
      width: 8px;
      img {
        cursor: pointer;
      }
    }
  }
}
