<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="imgHome">
            <img src="./../../assets/logo.png" alt="logo-fnst">
            <h1>Home</h1>
        </div>
        <section class="list-header">
            <nav class="nav-header">
                <img src="assets/usuario.svg"><a href="#">Usuários</a>
                <img src="assets/historico.svg"><a href="#">Histórico alteração</a>
                <img src="assets/calendario.svg"><a href="#">Calendário</a>
                <button>
                    <img src="assets/sair.svg">
                    <span>Sair</span>
                </button>
            </nav>
        </section>
    </header>
</body>
</html>
