<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="imgHome">
            <img src="./../../assets/logo.png" alt="logo-fnst">
            <h1>Home</h1>
        </div>
        <section class="list-header">
            <nav class="nav-header">
                <img src="assets/usuario.svg"><a href="#">Usuários</a>
                <img src="assets/historico.svg"><a href="#">Histórico alteração</a>
                <img src="assets/calendario.svg"><a href="#">Calendário</a>
                <button>
                    <img src="assets/sair.svg">
                    <span>Sair</span>
                </button>
            </nav>
        </section>
    </header>

    <main>
      <div class="align-content">
        <div class="align-btn-register-event">
            <button>
              <img src="assets/cadastro.svg">
              Cadastrar Eventos
            </button>
        </div>
      </div>

      <section class="container">
            <div class="align-cards">
              <div class="card">
                <div class="card-top">
                  <div class="align-btn-card-top">
                    <button>Em andamento</button>
                  </div>
                </div>
                <div class="align-content-card-top">
                  <h1>Semana da FETEC AGRO</h1>
                  <img src="assets/edit-card.svg">
                </div>
                <div class="align-content-card">
                    <img src="assets/data.svg">
                  <div class="date">
                    <p>24/04/2023</p>
                    <span>Data</span>
                  </div>
                    <img src="assets/time.svg">
                  <div class="time">
                    <p>10:30 - 22h00</p>
                    <span>Horário</span>
                  </div>
                </div>
                <div class="descricao-event">
                  <p class="descricao-card-event">Avenida Shunji Nishimuta, Empresarial, 4521</p>
                  <p class="descricao-card-event">Ginásio entrada na porta dos fundos</p>
                </div>
              </div>

              <div class="card">
                <div class="card-top">
                  <div class="align-btn-card-top">
                    <button>Em andamento</button>
                  </div>
                </div>
                <div class="align-content-card-top">
                  <h1>Semana da FETEC AGRO</h1>
                  <img src="assets/edit-card.svg">
                </div>
                <div class="align-content-card">
                    <img src="assets/data.svg">
                  <div class="date">
                    <p>24/04/2023</p>
                    <span>Data</span>
                  </div>
                    <img src="assets/time.svg">
                  <div class="time">
                    <p>10:30 - 22h00</p>
                    <span>Horário</span>
                  </div>
                </div>
                <div class="descricao-event">
                  <p class="descricao-card-event">Avenida Shunji Nishimuta, Empresarial, 4521</p>
                  <p class="descricao-card-event">Ginásio entrada na porta dos fundos</p>
                </div>
              </div>

              <div class="card">
                <div class="card-top">
                  <div class="align-btn-card-top">
                    <button>Em andamento</button>
                  </div>
                </div>
                <div class="align-content-card-top">
                  <h1>Semana da FETEC AGRO</h1>
                  <img src="assets/edit-card.svg">
                </div>
                <div class="align-content-card">
                    <img src="assets/data.svg">
                  <div class="date">
                    <p>24/04/2023</p>
                    <span>Data</span>
                  </div>
                    <img src="assets/time.svg">
                  <div class="time">
                    <p>10:30 - 22h00</p>
                    <span>Horário</span>
                  </div>
                </div>
                <div class="descricao-event">
                  <p class="descricao-card-event">Avenida Shunji Nishimuta, Empresarial, 4521</p>
                  <p class="descricao-card-event">Ginásio entrada na porta dos fundos</p>
                </div>
              </div>

              <div class="card">
                <div class="card-top">
                  <div class="align-btn-card-top">
                    <button>Em andamento</button>
                  </div>
                </div>
                <div class="align-content-card-top">
                  <h1>Semana da FETEC AGRO</h1>
                  <img src="assets/edit-card.svg">
                </div>
                <div class="align-content-card">
                    <img src="assets/data.svg">
                  <div class="date">
                    <p>24/04/2023</p>
                    <span>Data</span>
                  </div>
                    <img src="assets/time.svg">
                  <div class="time">
                    <p>10:30 - 22h00</p>
                    <span>Horário</span>
                  </div>
                </div>
                <div class="descricao-event">
                  <p class="descricao-card-event">Avenida Shunji Nishimuta, Empresarial, 4521</p>
                  <p class="descricao-card-event">Ginásio entrada na porta dos fundos</p>
                </div>
              </div>

              <div class="card">
                <div class="card-top">
                  <div class="align-btn-card-top">
                    <button>Em andamento</button>
                  </div>
                </div>
                <div class="align-content-card-top">
                  <h1>Semana da FETEC AGRO</h1>
                  <img src="assets/edit-card.svg">
                </div>
                <div class="align-content-card">
                    <img src="assets/data.svg">
                  <div class="date">
                    <p>24/04/2023</p>
                    <span>Data</span>
                  </div>
                    <img src="assets/time.svg">
                  <div class="time">
                    <p>10:30 - 22h00</p>
                    <span>Horário</span>
                  </div>
                </div>
                <div class="descricao-event">
                  <p class="descricao-card-event">Avenida Shunji Nishimuta, Empresarial, 4521</p>
                  <p class="descricao-card-event">Ginásio entrada na porta dos fundos</p>
                </div>
              </div>

              <div class="card">
                <div class="card-top">
                  <div class="align-btn-card-top">
                    <button>Em andamento</button>
                  </div>
                </div>
                <div class="align-content-card-top">
                  <h1>Semana da FETEC AGRO</h1>
                  <img src="assets/edit-card.svg">
                </div>
                <div class="align-content-card">
                    <img src="assets/data.svg">
                  <div class="date">
                    <p>24/04/2023</p>
                    <span>Data</span>
                  </div>
                    <img src="assets/time.svg">
                  <div class="time">
                    <p>10:30 - 22h00</p>
                    <span>Horário</span>
                  </div>
                </div>
                <div class="descricao-event">
                  <p class="descricao-card-event">Avenida Shunji Nishimuta, Empresarial, 4521</p>
                  <p class="descricao-card-event">Ginásio entrada na porta dos fundos</p>
                </div>
              </div>

              <div class="card">
                <div class="card-top">
                  <div class="align-btn-card-top">
                    <button>Em andamento</button>
                  </div>
                </div>
                <div class="align-content-card-top">
                  <h1>Semana da FETEC AGRO</h1>
                  <img src="assets/edit-card.svg">
                </div>
                <div class="align-content-card">
                    <img src="assets/data.svg">
                  <div class="date">
                    <p>24/04/2023</p>
                    <span>Data</span>
                  </div>
                    <img src="assets/time.svg">
                  <div class="time">
                    <p>10:30 - 22h00</p>
                    <span>Horário</span>
                  </div>
                </div>
                <div class="descricao-event">
                  <p class="descricao-card-event">Avenida Shunji Nishimuta, Empresarial, 4521</p>
                  <p class="descricao-card-event">Ginásio entrada na porta dos fundos</p>
                </div>
              </div>

              <div class="card">
                <div class="card-top">
                  <div class="align-btn-card-top">
                    <button>Em andamento</button>
                  </div>
                </div>
                <div class="align-content-card-top">
                  <h1>Semana da FETEC AGRO</h1>
                  <img src="assets/edit-card.svg">
                </div>
                <div class="align-content-card">
                    <img src="assets/data.svg">
                  <div class="date">
                    <p>24/04/2023</p>
                    <span>Data</span>
                  </div>
                    <img src="assets/time.svg">
                  <div class="time">
                    <p>10:30 - 22h00</p>
                    <span>Horário</span>
                  </div>
                </div>
                <div class="descricao-event">
                  <p class="descricao-card-event">Avenida Shunji Nishimuta, Empresarial, 4521</p>
                  <p class="descricao-card-event">Ginásio entrada na porta dos fundos</p>
                </div>
              </div>

              <div class="card">
                <div class="card-top">
                  <div class="align-btn-card-top">
                    <button>Em andamento</button>
                  </div>
                </div>
                <div class="align-content-card-top">
                  <h1>Semana da FETEC AGRO</h1>
                  <img src="assets/edit-card.svg">
                </div>
                <div class="align-content-card">
                    <img src="assets/data.svg">
                  <div class="date">
                    <p>24/04/2023</p>
                    <span>Data</span>
                  </div>
                    <img src="assets/time.svg">
                  <div class="time">
                    <p>10:30 - 22h00</p>
                    <span>Horário</span>
                  </div>
                </div>
                <div class="descricao-event">
                  <p class="descricao-card-event">Avenida Shunji Nishimuta, Empresarial, 4521</p>
                  <p class="descricao-card-event">Ginásio entrada na porta dos fundos</p>
                </div>
              </div>
            </div>
      </section>
    </main>





</body>
</html>
